/* Category active */
.menu-tab {
    position: relative;

    .tab-item {
        white-space: nowrap;
        cursor: pointer;

        &.active {
            color: var(--black);
        }
    }

    @media (max-width: 767.98px) {
        max-width: 100%;
        width: 100%;
        overflow-x: auto;
    }

    &.style-pet {
        .tab-item {
            &.active {
                color: var(--white);
            }
        }
    }
}

.tab-features-block {
    &.style-underwear {
        .menu-tab {
            .tab-item {
                border-radius: 16px;

                &.active {
                    background-color: var(--black);
                    color: var(--white);
                }
            }
        }
    }

    &.style-watch {
        .menu-tab {
            .tab-item {
                border-radius: 16px;

                &.active {
                    background: var(--surface1);
                    color: var(--white);
                }
            }
        }
    }
}

/* Video tutorial block */
.video-tutorial-block {
    .list-category {
        overflow: hidden;

        .item {
            position: relative;
            transform: translateX(-36px);
            transition: all ease 0.4s;

            &.active {
                transform: translateX(0);
            }
        }
    }
}